

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/atomicityChecker/FileContentIndex/3a6927f0-743e-4400-b9bf-934e82d8a626.vsidx
/.vs/atomicityChecker/FileContentIndex/9e3dbbb7-17f2-41b7-b4ec-3b0f067f2b4c.vsidx
/.vs/atomicityChecker/FileContentIndex/d3fa2ca9-4d05-42d3-9d53-16544a81ac00.vsidx
/.vs/atomicityChecker/FileContentIndex/read.lock
